@use 'variables' as var;

.card-author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  @media screen and (width < var.$size-container) {
    flex-direction: column;
  }
  @media screen and (width >= var.$size-container) {
    flex-direction: row;
  }

  .thumbnail {
    flex-shrink: 0;

    font-size: var.$size-thumbnail-in-section-groups;
    line-height: 1;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      font-size: 2rem;
      span {
        color: rgba(var.$color-text-base, 0.5);
        font-size: 1rem;
        font-weight: normal;
      }
    }

    h1,
    p {
      margin: 0;
    }
  }
}

.section-groups {
  .sections {
    display: grid;

    @media screen and (width < var.$size-container) {
      grid-template-columns: 1fr;
    }
    @media screen and (width >= var.$size-container) {
      grid-template-columns: 1fr 1fr;
    }

    list-style: none;
    padding: 0;
    gap: 1.5rem;

    .section-item {
      a {
        background-color: var.$color-bg-quote;
        border: none;

        height: 15rem;
        padding: 1.5rem;

        display: grid;
        place-content: center;
        place-items: center;
        gap: 1.5rem;

        .thumbnail {
          font-size: var.$size-thumbnail-in-section-groups;
          line-height: 1;
        }

        .title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
