@use 'variables' as var;

.card-author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  @media screen and (width < var.$size-container) {
    flex-direction: column;
  }
  @media screen and (width >= var.$size-container) {
    flex-direction: row;
  }

  .thumbnail {
    flex-shrink: 0;

    // fallback for failed emoji SVG icon loading
    font-size: var.$size-thumbnail-in-section-groups;
    line-height: 1;

    img.emoji {
      width: 100%;
      margin: 0;
      vertical-align: bottom;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      font-size: 2rem;
      span {
        color: rgba(var.$color-text-base, 0.5);
        font-size: 1rem;
        font-weight: normal;
      }
    }

    h1,
    p {
      margin: 0;
    }
  }
}

.section-groups {
  .sections {
    display: grid;

    @media screen and (width < var.$size-container) {
      grid-template-columns: 1fr;
    }
    @media screen and (width >= var.$size-container) {
      grid-template-columns: 1fr 1fr;
    }

    list-style: none;
    padding: 0;
    gap: 1.5rem;

    .section-item {
      a {
        background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        border: 1px solid rgba(var.$color-text-base, 0.1);
        border-radius: var.$border-radius-in-section-groups;

        transition: 0.1s;

        &:hover {
          transform: scale(105%);
        }

        height: 15rem;
        padding: 1.5rem;

        display: grid;
        place-content: center;
        place-items: center;
        gap: 1.5rem;

        .thumbnail {
          // fallback for failed emoji SVG icon loading
          font-size: var.$size-thumbnail-in-section-groups;
          line-height: 1;

          img.emoji {
            width: 100%;
            margin: 0;
            vertical-align: bottom;
          }
        }

        .title {
          color: var.$color-text-base;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }
}
