@use 'variables' as var;

.tool-groups {
  .tools {
    display: grid;

    @media screen and (width < 360px) {
      grid-template-columns: 1fr;
    }
    @media screen and (360px <= width < var.$size-container) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (var.$size-container <= width) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    list-style: none;
    padding: 0;
    gap: 1rem;

    .tool-item {
      a {
        background-color: var.$color-bg-quote;
        border: none;

        height: 10rem;
        padding: 1.5rem;

        display: grid;
        place-content: center;
        place-items: center;
        gap: 0.5rem;

        .thumbnail {
          font-size: var.$size-thumbnail-in-tool-groups;
          line-height: 1;
        }
      }
    }
  }
}
