{% set notes = get_section(path="notes/_index.md") %}

{% if page %}
  {% set section = get_section(path=page.ancestors | last) %}
  {% if section == notes %}
  <hr>
  <footer class="article-footer">
    <script src="https://giscus.app/client.js"
      data-repo="hayatroid/portfolio_comments"
      data-repo-id="R_kgDOMNgEqw"
      data-category="Announcements"
      data-category-id="DIC_kwDOMNgEq84Ct55E"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="light"
      data-lang="ja"
      crossorigin="anonymous"
      async>
    </script>
  </footer>
  {% endif %}
{% endif %}
