{% import "macros.html" as macros %}
{% extends "base/base.html" %}

{% block content %}
{% if section %}
<article class="container">
  {% include "base/article/header.html" %}
  <div class="article-content">
    {{ section.content | safe }}
  </div>
</article>
{% else %}
<article class="container">
  {% include "base/article/header.html" %}
  <div class="article-content">
    {{ page.content | replace(from="<!-- toc -->", to=macros::toc(page=page)) | safe }}
  </div>
  {% include "base/article/footer.html" %}
</article>
{% endif %}
{% endblock content %}
