{% set home = get_section(path="_index.md") %}

{% if section %}
  {% if section == home %}
    {% set ogp_path = "ogp/home.png" %}
    <title>{{ home.title }}</title>
    <meta name="description" content="{{ home.description }}">

    <meta property="og:site_name" content="{{ home.title }}">
    <meta property="og:url" content="{{ home.permalink }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ home.title }}">
    <meta property="og:description" content="{{ home.description }}">
    <meta property="og:image" content="{{ get_url(path=ogp_path) }}">
    <meta property="og:locale" content="ja_JP">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{{ home.description }}">
    <meta name="twitter:image:src" content="{{ get_url(path=ogp_path) }}">
  {% else %}
    {% set section_name = section.path | trim_start_matches(pat="/") | trim_end_matches(pat="/") %}
    {% set ogp_path = "ogp/" ~ section_name ~ ".png" %}
    <title>{{ section.title }} | {{ home.title }}</title>
    <meta name="description" content="{{ section.description }}">

    <meta property="og:site_name" content="{{ home.title }}">
    <meta property="og:url" content="{{ section.permalink }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ section.title }} | {{ home.title }}">
    <meta property="og:description" content="{{ section.description }}">
    <meta property="og:image" content="{{ get_url(path=ogp_path) }}">
    <meta property="og:locale" content="ja_JP">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{{ section.description }}">
    <meta name="twitter:image:src" content="{{ get_url(path=ogp_path) }}">
  {% endif %}
{% else %}
  {% if not page %}
    {% set page = get_page(path="404.md") %}
  {% endif %}
  {% set page_name = page.path | trim_start_matches(pat="/") | trim_end_matches(pat=".md") | trim_end_matches(pat="/") %}
  {% set ogp_path = "ogp/" ~ page_name ~ ".png" %}
  <title>{{ page.title }} | {{ home.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <meta property="og:site_name" content="{{ home.title }}">
  <meta property="og:url" content="{{ page.permalink }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} | {{ home.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="{{ get_url(path=ogp_path) }}">
  <meta property="og:locale" content="ja_JP">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image:src" content="{{ get_url(path=ogp_path) }}">
{% endif %}
