@use '../variables' as var;

.article-header {
  text-align: center;

  .thumbnail {
    font-size: var.$size-thumbnail;
    line-height: 1;
  }

  .title {
    margin: 0;
    display: inline-block;
    text-align: left;
  }

  .info {
    display: flex;
    justify-content: center;
    gap: 1rem;

    span {
      line-height: 1;
    }
  }
}

.article-content {
  & > :first-child {
    margin-top: 2rem;
  }
}
