@use '../variables' as var;

.article-header {
  text-align: center;

  .thumbnail {
    font-size: var.$size-thumbnail;
    line-height: 1;
  }

  .title {
    margin: 0;
    display: inline-block;
    text-align: left;
  }

  .info {
    display: flex;
    justify-content: center;
    gap: 1rem;

    span {
      line-height: 1;
    }
  }
}

.toc {
  width: 16rem;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: .5rem;

  background: var.$color-bg-quote;
  border: 1px solid rgba(var.$color-text-base, 0.25);

  .title {
    margin: 0;

    font-weight: bold;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: var.$size-text-toc;
    line-height: 1.75rem;

    ul {
      padding-left: 1rem;
      list-style: none;
    }
  }
}

.article-content {
  & > :first-child {
    margin-top: 2rem;
  }
}
